.cssclass:hover
{
	text-decoration: underline;
	color:blue !important;
}
.images
{
	margin-right: 300px;
	color: black !important;
}
.imgsetting
{
	width: 60%;
	padding: 400px;

}
.googl
{
	padding-top: 200px;
}
.search
{
	
	margin-left: 100px;
	width: 70%;
}
.para
{
	text-align: center;
	font-weight: bold;
	margin-left:70px;
	padding-top: 20px;
}
.hindi
{
	margin-left: 40px;

}